/*
 * html2ps.config
 *
 * This is the configuration used to convert the manual of hsc
 * to Postscript
 */

@html2ps {
  header {                /* Running page header */
    odd-center:  "$T";    /* Document title */
    even-center: "$H";    /* Current main heading */
  }
  footer {                /* Running page footer */
    center: "- $N -";     /* Page number */
  }
  option {
    toc: h;               /* Generate a table of contents, based on headings */
  }
  showurl: 0;             /* Show URL:s for external links */
  seq-number: 1;          /* Automatic numbering of headings */

  toc {
    heading: "hsc - html sucks completely";
  }
}

/* Standard style sheet definitions */
BODY { font-family: Times; }
P { text-align: justify }
H1, H2, H3, H4, H5, H6 { font-family: Helvetica; font-weight: bold; }
H1 { font-size: 19pt; }
H2, H3 { font-size: 16pt }
H3, H5 { font-style: oblique }
H4, H5 { font-size: 13pt }
H6 { font-size: 11pt }
ADDRESS { text-align: right }
PRE { font-family: Courier; }
